.app-background {
  background-color: pink;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 32px;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background: rgb(255, 123, 145);
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #6b000e;
  color: white !important;
}
