
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 32px;
  height: 100vh;
}

.next {
  display: flex;
  align-items: center;
  justify-content: center;
}
